type project
title
    FSketch.Drawing
owners
    Pierre Irrmann
authors 
    Pierre Irrmann
projectUrl
    https://github.com/pirrmann/FSketch
iconUrl
    https://raw.githubusercontent.com/pirrmann/FSketch/master/docs/files/img/logo.png
licenseUrl
    https://github.com/pirrmann/FSketch/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright 2015
tags
    drawing dsl fsharp
summary
    Yet another drawing DSL in F#
description
    Yet another drawing DSL in F#


